<figure class="float-end">
  <blockquote class="blockquote">
    <p>Developed by:</p>
  </blockquote>
  <figcaption class="blockquote-footer">
  Diogo Martins and Nuno Monteiro <cite title="Source Title"><br>IronHackers</cite>
  </figcaption>
</figure>