<section id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a href="/" class="navbar-brand"><img
            class="logo"
            src="/images/logo.png"
            alt="logo"
          /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-target="navbarSupportedContent"
          data-toggle="collapse"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle Navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/places">List of places</a>
            </li>
            <li class="nav-item active">
              <a href="/places/create">Add a new place</a>
            </li>
            <li class="nav-item active">
              <a href="/about">About</a>
            </li>
            <li class="nav-item active">
              <a href="/">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      {{#if currentUser}}
      
            <form id="logout-form" method="POST" action="/logout">
              <button class="btn btn-danger">Logout</button>
            </form>
        {{else}}
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2 mx-2" role="group" aria-label="First group">
            <form id="login-form" method="POST" action="/login">
              <button class="btn btn-light">Login</button>
            </form>
          </div>
          <div class="btn-group mr-2 mx-2" role="group" aria-label="Second group"></div>
            <form id="signup-form" method="POST" action="/signup">
              <button class="btn btn-light">Sign Up</button>
            </form>
        </div>
          </div>
        {{/if}}     
            
        </div>
    </nav>

  </div>

</section>

                   </nav>