<div>
    <p><b>Remote-Office
            <br>
            Find your place to work remotely!</b>
        <br><br>
        <b>Contact us</b>
        <br><br>
        We are one click away. Feel free to contact us.
        <br><br>
        nunojsmonteiro@gmail.com
        <br>
        disaacjm@gmail.com
    </p>
 
</div>
   {{!-- <img class="logo-img" src="/images/logo.png" alt="logo"> --}}